<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Commit</title>
    <meta name="description" content="Collaborate on opensource projects.">

    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="http://commit.im/assets/favicon.png"/>

    <link rel="canonical" href="https://commit.im">

</head>
<body>
    <h1>
        <a href="/">
            Commit
        </a>
    </h1>
    <p>Collaborate on opensource projects.</p>
    <div>
        <a href="/user/login/do">login with github</a>
    </div>
</body>
</html>